<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary text-white">Home</a></li>
                  <li><a href="/servicios" class="nav-link px-2 text-secondary ">Servicios</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div th:if="${session.usuariosession == null}" class="text-end">
                <a th:href="@{/login}" type="button"  class="btn btn-outline-success btn-success-bg-subtle me-2">Login</a>  


                <a th:href="@{/registrar-usuario}" type="button"  class="btn btn-outline-success btn-success-bg-subtle me-2">Register</a>



                <div class="modal fade" id="modalRegsitro" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered ">
                        <div class="modal-content bg-dark text-center">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 " id="exampleModalToggle"></h1>
                                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <div class="row d-block justify-content-center ">
                                    <div class="col border-bottom p-3"> 
                                        <p> Registro usuario regular.</p>
                                        <button class="btn btn-primary w-100 mb-2 " data-bs-target="#modalRegistroUsuario" data-bs-toggle="modal">Usuario</button>
                                    </div>
                                    <div class="col p-3">
                                        <p> Registro usuario Proveedor...</p>
                                        <button class="btn btn-primary w-100 mb-2 " data-bs-target="#modalRegistroProveedor" data-bs-toggle="modal">Proveedor</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer text-center">
                                <div class="row ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>

            <div th:if="${session.usuariosession != null}" class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle imagen-header" data-bs-toggle="dropdown" aria-expanded="false">
                    <img  th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="Img logo" class=" rounded-circle  " >
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item"  href="/perfil" >Perfil de Usuario</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>